<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <a href='/'>Home</a>
      <a href='/scrabble/chart'>Letter Chart</a>
      <a href='/scrabble/score'>Score a Word</a>
    </header>
    <h1>Score a Word !!</h1>
    <form action="/scrabble/score" method="post">
  Word:<input type="text" name="word"/>
  <input type="submit"/>

</form>
  </body>
</html>
